body {
    /*The image used*/
    background-image: url("/static/images/monkey.gif"), url("/static/images/BG_left.png"), url("/static/images/BG_right.png"), url("/static/images/BG_bottom.png");

    overflow: hidden;
    background-size: contain, contain, contain, contain;
    background-attachment: fixed;


    /*Center and scale the image nicely*/
    background-position: top center, left center, right center, bottom center;
    background-repeat: no-repeat;
}

#startbutton
{
    margin-top: 20%;
    cursor: pointer;
    background-color: rgb(154, 205, 50, 0.6);
    border-radius: 12px;
    box-shadow: 0 3px #999;
}

#startimage {
    width: 300px;
}

#startbutton:hover {background-color: rgba(154, 205, 50, 0.87)}


/*Website style format for small screens*/
@media only screen and (max-width: 700px) {
    body {
        /*The image used*/
        background-image: url("/static/images/monkey.gif"), url("/static/images/BG_left.png");

        /*Full height*/
        background-size: contain, contain;
        background-attachment: fixed;


        /*Center and scale the image nicely*/
        background-position: top center, left center;
        background-repeat: no-repeat;
    }

    #startbutton {
        margin-top: 75%;
    }

    #startimage {
        width: 75%;
    }
}