#index_tabel {
    width: 100%;
}

/*BUTTONS*/
.buttons, .lockbuttons {

    margin: 5px;
    font: small-caps 25px helvetica;
    cursor: pointer;
    width: 400px;
    height: 75px;
    background-color: rgb(154, 205, 50, 0.6);
    border: none;
    border-radius: 12px;
    box-shadow: 0 3px #999;
    }

.lockbuttons {
    color: MintCream;
    background-color:rgb(154, 205, 50, 0.3);
    }


/*.button:active {transform: translateY(4px);}*/
/*.lockbuttons:active {transform: translateY(4px);}*/
.buttons:hover {background-color: rgba(154, 205, 50, 0.9)}
.button:hover {background-color: rgba(154, 205, 50, 0.9)}
.submitbutton:hover {background-color: rgba(154, 205, 50)}


.showbutton {
    margin:10px;
    font-size: 25px;
    font-variant: small-caps;
    text-align: center;
    outline: none;
    color: black;
    background-color: rgb(154, 205, 50, 0.6);
    border: none;
    border-radius: 12px;
    box-shadow: 0 3px #999;
}



/*Website style format for small screens*/
@media only screen and (max-width: 700px) {
    .buttons, .lockbuttons {
        /*font-size: 20px;*/
        width: 90%;
        background-color: rgb(154, 205, 50, 0.8);
    }

    .showbutton {
        max-width: 100%;
    }
}


.passbutton {
    margin:5px;
    font: small-caps 15px helvetica;
    width: 100px;
    height: 40px;
    right: 14px;
    top: 0;
    position: absolute;
    cursor: pointer;
    background-color: rgb(169, 205, 50, 0.8);
    border: none;
    border-radius: 12px;
    box-shadow: 0 3px #999;
}

.passbutton {
    background-color: rgb(252, 61, 3, 0.7);
}

.passbutton:hover {background-color: rgba(252, 61, 3)}


.bg-modal{
    width: 100%;
    height: 100%;
    background-size:cover;
    background-attachment: cover;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}

.modal-content{
    width: 550px;
    height: 350px;
    background-color: lightblue;
    opacity: 1;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
    overflow: auto;

}

.close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}


/*Website style format for small screens*/
@media only screen and (max-width: 700px) {
    .buttons, .lockbuttons {
        /*font-size: 20px;*/
        width: 90%;
        background-color: rgb(154, 205, 50, 0.8);
    }

    .showbutton {
        max-width: 100%;
    }
}



