/*BACKGROUND SETTINGS*/
body, html {
  height: 100%;
}

#bg {
    /*The image used*/
    background-image: url("BG_left.png"), url("BG_right.png"), url("BG_bottom.png");

    /*Full height*/
    height: 100%;
    background-size: contain, contain, contain;


    /*Center and scale the image nicely*/
    background-position: left center, right center, bottom center;
    background-repeat: no-repeat;
}

#bg_start {
    /*The image used*/
    background-image: url("monkey.gif"), url("BG_left.png"), url("BG_right.png"), url("BG_bottom.png");

    /*Full height*/
    height: 100%;
    background-size: contain, contain, contain, contain;


    /*Center and scale the image nicely*/
    background-position: top center, left center, right center, bottom center;
    background-repeat: no-repeat;
}


#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}


/*Website style format for small screens*/
@media only screen and (max-width: 700px) {
    #logo {
        width: 95%;
    }

    #bg {
    /*The image used*/
        background-image: url("BG_left.png");

        /*Full height*/
        height: 100%;
        background-size: contain;


        /*Center and scale the image nicely*/
        background-position: left center;
        background-repeat: no-repeat;
    }

    #bg_start {
        /*The image used*/
        background-image: url("monkey.gif"), url("BG_left.png");

        /*Full height*/
        height: 100%;
        background-size: contain, contain;


        /*Center and scale the image nicely*/
        background-position: top center, left center;
        background-repeat: no-repeat;
    }


}


main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /*constrain images on small screens */
    max-width: 100%;
}


.buttons {
    margin:5px;
    padding: 20px 100px;
    font-size: 25px;
    font-variant: small-caps;
    text-align: center;
    cursor: pointer;
    outline: none;
    width: 400px;
    color: black;
    background-color: rgb(154, 205, 50, 0.6);
    border: none;
    border-radius: 12px;
    box-shadow: 0 3px #999;
    }

.buttons:active {transform: translateY(4px);}


.lockbuttons {
    margin:5px;
    padding: 20px 100px;
    font-size: 25px;
    font-variant: small-caps;
    text-align: center;
    cursor: pointer;
    outline: none;
    width: 400px;
    color: MintCream;
    background-color:rgb(154, 205, 50, 0.3);
    border: none;
    border-radius: 12px;
    box-shadow: 0 3px #999;
    }

.button:active {transform: translateY(4px);}
.lockbuttons:active {transform: translateY(4px);}
.buttons:hover {background-color: rgba(154, 205, 50, 0.87)}
.button:hover {background-color: rgba(154, 205, 50, 0.87)}
.submitbutton:hover {background-color: rgba(154, 205, 50)}
.nextbutton:hover {background-color: rgba(252, 61, 3)}


body {background-color: lightblue;}

/*.textunlock*/
.submitbutton
{
    margin:5px;
    font-size: 18px;
    font-variant: small-caps;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: rgb(169, 205, 50, 0.6);
    border: none;
    border-radius: 12px;
    box-shadow: 0 3px #999;
}

.nextbutton
{
    margin:5px;
    font-size: 18px;
    font-variant: small-caps;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: rgb(252, 61, 3, 0.6);
    border: none;
    border-radius: 12px;
    box-shadow: 0 3px #999;
}


.showbutton {
    margin:10px;
    font-size: 25px;
    font-variant: small-caps;
    text-align: center;
    outline: none;
    color: black;
    background-color: rgb(154, 205, 50, 0.6);
    border: none;
    border-radius: 12px;
    box-shadow: 0 3px #999;
}


/*Style voor de input formulieren in het spel*/
main .inputbox {
  width: 70px;
  height: 70px;
  text-align: center;
  font-size: 40px;
  margin: 16px ;
  box-sizing: border-box;
  border: 7px solid yellowgreen;
  border-radius: 10px;
  display: inline-block;
  align-items: center;
  background-color: MintCream;
}

.imgborder
{
  border: 5px double YellowGreen;

}

/* style sheet for start page*/

.startbutton
{
    margin: 25%;
    font-size: 12px;
    font-variant: small-caps;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: rgb(154, 205, 50, 0.6);
    border: none;
    border-radius: 12px;
    box-shadow: 0 3px #999;
}

.startbutton:hover {background-color: rgba(154, 205, 50, 0.87)}

.startbackground {
          background-image: url('/static/dieren2.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }


/* media queries */
@media only screen and (max-width: 768px){
    [class*="col-"]{
        width:100%;
    }

}

