nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /*constrain images on small screens */
    max-width: 100%;
}



.buttons {
    margin:5px;
    padding: 20px 100px;
    font-size: 25px;
    font-variant: small-caps;
    text-align: center;
    cursor: pointer;
    outline: none;
    width: 400px;
    color: #FFFFA0;
    background-color: rgba(192, 192, 0, 0.6);
    border: none;
    border-radius: 12px;
    box-shadow: 0 3px #999;
    }

.buttons:active {transform: translateY(4px);}



.lockbuttons {
    margin:5px;
    padding: 20px 100px;
    font-size: 25px;
    font-variant: small-caps;
    text-align: center;
    cursor: pointer;
    outline: none;
    width: 400px;
    color: #FFFFA0;
    background-color: rgba(158, 158, 0, 0.2);
    border: none;
    border-radius: 12px;
    box-shadow: 0 3px #999;
    }

.lockbuttons:active {transform: translateY(4px);}

.button:hover {background-color: rgba(158, 158, 0, 0.87)}

.button:active {
  background-color: rgba(158, 158, 0, 0.87);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

body {background-color: lightblue;}

/*.textunlock*/

/*Style voor de input formulieren in het spel*/
main .inputbox {
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 50px;
  margin: 20px ;
  box-sizing: border-box;
  border: 10px solid green;
  border-radius: 10px;
  display: inline-block;
  align-items: center;
  background-color: lightblue;
}