/*BACKGROUND SETTINGS*/
html {
  height: 100%;
}

body {
    /*BACKGROUND SETTINGS*/
    /*The image used*/
    background-image: url("BG_left.png"), url("BG_right.png"), url("BG_bottom.png");
    background-color: lightblue;

    /*Full height*/
    height: 100%;
    background-size: contain, contain, contain;
    background-attachment: fixed;

    /*Center and scale the image nicely*/
    background-position: left center, right center, bottom center;
    background-repeat: no-repeat;

    /*PAGE SETTINGS*/
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;

}


#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}


/*Text styles*/
h1 {
    font: bold 40px helvetica;
}

h2 {
    font: bold 25px helvetica;
}

p {
    font: 10px helvetica;

}


body .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}



/*BUTTONS*/
.buttons, .lockbuttons {

    margin: 5px;
    font: small-caps 25px helvetica;
    cursor: pointer;
    width: 400px;
    height: 75px;
    background-color: rgb(154, 205, 50, 0.6);
    border: none;
    border-radius: 12px;
    box-shadow: 0 3px #999;
    }

.lockbuttons {
    color: MintCream;
    background-color:rgb(154, 205, 50, 0.3);
    }


/*.button:active {transform: translateY(4px);}*/
/*.lockbuttons:active {transform: translateY(4px);}*/
.buttons:hover {background-color: rgba(154, 205, 50, 0.9)}
.button:hover {background-color: rgba(154, 205, 50, 0.9)}
.submitbutton:hover {background-color: rgba(154, 205, 50)}
.nextbutton:hover {background-color: rgba(252, 61, 3)}



.showbutton {
    margin:10px;
    font-size: 25px;
    font-variant: small-caps;
    text-align: center;
    outline: none;
    color: black;
    background-color: rgb(154, 205, 50, 0.6);
    border: none;
    border-radius: 12px;
    box-shadow: 0 3px #999;
}



/*Website style format for small screens*/
@media only screen and (max-width: 700px) {
    #logo {
        width: 100%;
    }

    body {
    /*The image used*/
        background-image: url("BG_left.png");

        /*Full height*/
        height: 100%;
        background-size: contain;
        background-attachment: fixed;


        /*Center and scale the image nicely*/
        background-position: left center;
        background-repeat: no-repeat;
    }

    /*Text styles*/
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 15px;
    }


    .buttons, .lockbuttons {
        /*font-size: 20px;*/
        width: 90%;
        background-color: rgb(154, 205, 50, 0.8);
    }

    /*Style voor de input formulieren in het spel*/
    .inputbox {
        width: 45px;
        height: 45px;
        text-align: center;
        font-size: 25px;
        margin: 3px ;
    }

    .showbutton {
        max-width: 100%;
    }
}


