{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}


{% block main %}

<head>

    <link href="/static/licon.ico" rel="icon">
</head>

<body>
<table>
<tr>
<button class= "showbutton" type="button" > your score: {{ current_score }}</button>
<button class= "showbutton" type="button" > your level: {{ current_level }}</button>
<select class="showbutton" name="symbol">
    <option disabled class="showbutton" hidden selected value>Leaderboard</option>

    {% for player in leaderboard_list %}
        <option class="showbutton" disabled>Player: {{ player[0] }} level: {{ player[1] }} Score: {{ player[2] }}</option>
    {% endfor %}

</select>
</tr>
</table>


<div class="header">
  <h1>Categories</h1>
  <p>Unlock all categories!</p>
</div>

    <table class="table">
        <form action="/index" method="post">
            <table style="width:100%">
            <tr>

                    {% for level, score in dict_level123.items(): %}

                        {% if current_score < score[0] or current_level < score[1]  %}
                            <button class= "lockbuttons" type="button" value="{{ level }} (locked)">unlock {{ level }} <small class="textunlock">({{score[0]}}points)</small></button>

                        {% else %}

                            <button class="buttons" name="level" value="{{ level }}" type="submit" data-level="{{ level }}">{{ level }}</button>
                        {% endif %}

                    {% endfor %}
                </tr>
                <tr>

                 {% for level, score in dict_level456.items() %}

                        {% if current_score < score[0] or current_level < score[1] %}
                            <button class= "lockbuttons" type="button" value="{{ level }} (locked)">unlock {{ level }} <small class="textunlock">({{score[0]}}points)</small></button>

                        {% else %}

                            <button class="buttons" name="level" value="{{ level }}" type="submit" data-level="{{ level }}">{{ level }}</button>
                        {% endif %}
                    {% endfor %}
                </tr>
            </table>
        </table>
    </form>
 </body>
{% endblock %}
