<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- scaling mobile device -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--Style sheets-->
        <link href="/static/styles.css" rel="stylesheet">
        {% block stylesheets %}{% endblock %}

        <!--Javascript file link-->
        <script src="/static/script.js"></script>

        <!--Page icon-->
        <link href="/static/favicon.png" rel="icon">

        <title>Animal Kingdom Quiz: {% block title %}{% endblock %}</title>

    </head>

    <body>

        {% block header %}{% endblock %}

        <!-- website logo -->
        <img id="logo" src="/static/images/logo.png">

        {% block main %}{% endblock %}


    </body>

</html>
