{% extends "layout.html" %}


{% block stylesheets %}
    <link href="/static/page_style/style_index.css" rel="stylesheet">
    <link href="/static/page_style/style_nickname.css" rel="stylesheet">
{% endblock %}

{% block title %}
    Register
{% endblock %}

{% block main %}

<form action="/nickname" method="post" name="input_nickname" onsubmit="return validateForm()">

    <div>
        <input autofocus autocomplete="off" id="nickname_input" name="nickname" placeholder="Nickname" type="text" required>
    </div>
    <div>
        <button class="buttons" type="submit">Submit</button>
    </div>

</form>
{% endblock %}
