
{% extends "layout.html" %}
{% block stylesheets %}
<link href="/static/page_style/style_question.css" rel="stylesheet">
{% endblock %}
{% block title %}
    Questions
{% endblock %}

{% block main %}




    <table align="center">
        <col width="45%">
        <col width="10%">
        <col width="45%">
        <tr>
            <th>{{ player }}</th>
            <th>vs.</th>
            <th>{{ opponent }}</th>
        </tr>

        <tr>
            <td>{{ score }} out of {{ (round_number - 1)*10 }} points</td>
            <td id="emptyrow"></td>
            <td>{{ opponent_score*10 }} out of {{ (round_number - 1)*10 }} points</td>
        </tr>
    </table>
    <br>



    <div>
        <img id="img_animal" src='{{ photo }}'>
    </div>

    <div>
        <credits style="font-size:50%">
            <p>Photo by <a href= "{{ userlink }}">{{ name }}</a> on <a href= "{{ unsplashlink }}">unsplash</a></p>
        </credits>
    </div>


    <table>
        <tr><center>
            <form name="user_input" action="/question" method="post">
                {% for number in range(0, word_len) %}
                <input class="inputbox" autofocus type="text" id="box{{ number }}" name="box{{ number }}" autocomplete="off"
                onKeyup="autotab(this, document.user_input.box{{ number+1 }})" maxlength="1"
                onKeydown="backspace(this, document.user_input.box{{ number-1 }})" required>
                {% endfor %}
        </center></tr>

        <tr>
                <button class= submitbutton type="submit" name="submit">Submit</button>
            </form>

            <form name="next_question" action="/question" method="post">
                <button class="passbutton" type="submit" name="next">Pass</button>
            </form>

        </tr>
    </table>








{% endblock %}


