<!DOCTYPE html>

<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta name="viewport" content="width=device-width, shrink-to-fit=yes">

        <!--Page icon-->
        <link href="/static/favicon.png" rel="icon">

        <!--stylesheets-->
        <link href="/static/styles.css" rel="stylesheet">
        <link href="/static/page_style/style_start.css" rel="stylesheet">

        <title>Animal Kingdom Quiz: Start</title>
    </head>


    <body>
        <form action="/start" method="post">
            <button id="startbutton" type="submit"><img id="startimage" src="/static/images/newstart.png"></button>
        </from>

    </body>
</html>



