{% extends "layout.html" %}

{% block title %}
    Start
{% endblock %}

{% block main %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  body {
  background-image: url('/static/Dieren.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

</style>


    <form action="/start" method="post">

        <body>
        <img src="/static/logo.png" width="1000" height="100" ><img>
        <button class="button" type="submit"><img src="/static/startgame.png" width="200" height="40" ><img></button>

        </body>

    </form>
{% endblock %}



