{% extends "layout.html" %}

{% block stylesheets %}
    <link href="/static/page_style/style_winner.css" rel="stylesheet">
{% endblock %}

{% block title %}
    winner
{% endblock %}

{% block main %}

    <body>
        <div>
            {% if total_opponent < total_user %}
                <img src="/static/winnerpage/{{ level }}_won.gif">

            {% elif total_opponent > total_user %}
                <img src="/static/winnerpage/{{ level }}_lost.gif">

            {% else %}
                <img src="/static/winnerpage/{{ level }}_tie.gif">

            {% endif %}
        </div>

        <div>
            <form action="/winner" method="post">
                <button class="submitbutton" style="font-size:120%" type="submit">Play another game</button>
            </form>
        </div>
    </body>

{% endblock %}